<ion-content color="light">
  <ion-list>
    <!--Uso del ngFOR para ir recorriendo la lista de citas e ir agregando los ion-items-->
    <!--integracion de trackBy para poder eliminar si se dece las citas listadas-->
    <ion-item *ngFor="let cita of _listaCita; trackBy: trackByCita">
      <ion-label>
        {{ cita.cita }} <br>
        <p style="color: gray; text-align: right;">
          {{ cita.id }} - {{ cita.autor }}
        </p>
      </ion-label>
      <ion-button 
        size="small"
        fill="clear"
        (click)="eliminarCita(cita)"> <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>