
<div class="card-container">
<ion-card>
<!-- cargamos los datos de la cita en el ion-card-content -->
  <ion-card-content>
    {{cita.cita}}
  </ion-card-content>

  <ion-card-header>
    <ion-card-subtitle>
      {{cita.autor}}
    </ion-card-subtitle>
  </ion-card-header>

</ion-card>
</div>

<ion-list lines="none">
  <ion-item>
    <!-- aca estamos validando si la configuracion del servicio
       permite o no habilitar el boton-->
    <ion-button fill="clear"
    [disabled]="eliminar == false"
    (click)="onClick()"

    >
    Eliminar
  </ion-button>
  </ion-item>
</ion-list>

