<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Citas
    </ion-title>
    <ion-buttons [collapse]="true" slot="end">
      <ion-button color="medium" (click)="goToConfiguracion()"><ion-icon name="settings" size="large" ></ion-icon></ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-cita-random></app-cita-random>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end">
  <ion-fab-button size="small">
    <ion-icon name="add" (click)="goToGestionCitas()"></ion-icon>
  </ion-fab-button>
</ion-fab>



